.card {
    padding: 30px;
    height: 100%;
    text-decoration: none;
    display: block;
    &--top-border {
        border-top: 10px solid #045666;
    }
    &--left-border {
        border-left: 10px solid #045666;
        padding-left: 50px;
    }
    &--margin {
        margin-bottom: 50px;
    }
    &__title {
        font-size: 1.3rem;       
        margin-bottom: 20px;
        display: inline-block;
    }
    &__sub-title {
        font-size: 1rem;
    }
    &__description {
        font-size: 18px;
        margin: 0px;
    }
}