@import 'variables'; 

.site-footer {
    background-color: $supplementary;
    padding: 20px;
    flex-shrink: 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    &__item {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
    }
    &__image {
        display: block;
        width: 30px;
    }
}