.site-header {
    padding: 30px;
    position: absolute;
    top: 0px;
    z-index: 20;
    &__heading {
        font-size: 28px;
        text-decoration: none;
        font-family: 'Exo',sans-serif;
        color: #fff;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    }
}