body {
    background-color: #fff;
}

code {
    background-color: #000;
    color: #45ADE6;
    padding-left: 5px;
    padding-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.l-container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
