.page {
    padding-top: 40px;
    padding-bottom: 40px;
    @media only screen and (min-width: 800px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        
        &--slim {
            max-width: 800px;
        }
    }
    &__link {
        text-decoration: none;
        font-weight: bold;
        color: #045666;
        font-family: 'Exo',sans-serif;
    }
}