@import 'variables'; 

.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    a {
        text-decoration: none;
    }
    
    @media only screen and (min-width: 800px) {
        padding: 100px 20px;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skewY(-5deg);
        background-color: $secondary;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
    }
    &__main {
        padding-left: 20px;
        margin-left: 20px;
        border-left: 10px solid $primary;
        padding-top: 20px;
        padding-bottom: 20px;
        @media only screen and (min-width: 800px) {
            padding-left: 50px;
            margin-left: 50px;
        }
    }
    &__sub {
        text-align: left;
        font-weight: bold;
        font-size: 1.2rem;
        @media only screen and (min-width: 800px) {
            font-size: 1.5rem;
        }
    }
    &__text {
        text-align: left;
        @media only screen and (min-width: 800px) {
            font-size: 1.1rem;
        }
    }
    &__title {
        border-bottom: 4px solid $primary;
        font-size: 1.5rem;
        padding-bottom: 5px;
        display: inline-block;
        @media only screen and (min-width: 800px) {
            font-size: 2rem;
        }
    }
    &__author {
        margin: 0px 0px 20px 0px;
        font-weight: bold;
        text-align: left;
        margin-left: 20px;
        font-size: 1.2rem;
        @media only screen and (min-width: 800px) {
            margin-left: 50px;
        }
    }
}