.site-navigation {
    &__list {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
    }
    &__item {
        margin-left: 30px;
        &:first-child {
            margin-left: 0px;
        }
    }
    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        font-family: 'Exo',sans-serif;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        transition: color 0.3s;
        &:hover {
            color: #ccc;
        }
    }
}