@import 'variables'; 

.workflow {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    @media only screen and (min-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__container {
        max-width: 1400px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
    &__sections {
        @media only screen and (min-width: 992px) {
            display: flex;
        }
    }
    &__col {
        padding-bottom: 20px;
        @media only screen and (min-width: 992px) {
            padding: 30px;
            flex: 1;
        }
    }
    &__title {
        text-align: center;
        display: inline-block;
        border-bottom: 4px solid $primary;
        font-size: 1.5rem;
        padding-bottom: 5px;
        @media only screen and (min-width: 800px) {
            font-size: 2rem;
        }
    }
    &__summary {
        text-align: center;
        margin: 0px;
        padding-bottom: 20px;
        @media only screen and (min-width: 800px) {
            font-size: 1.1rem;
        }
    }
}