.workflow {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    &__sections {
        max-width: 1200px;
        margin: 0 auto;
        @media only screen and (min-width: 800px) {
            display: flex;
        }
    }
    &__col {
        padding: 10px;
    }
    &__title {
        text-align: center;
        display: inline-block;
        border-bottom: 4px solid #87381e;
    }
    &__summary {
        text-align: center;
        margin: 0px;
        padding-bottom: 20px;
    }
}